Repository vmware-tanzu/helm-charts, pull requests merged in 2020-11, with the labels that each got.

#175 [velero] Release helm charts by github-actions
  .github/workflows/release.yaml
Labels: ci/cd, velero

#171 [velero] Add enable/disable option for helm hooks
  charts/velero/Chart.yaml
  charts/velero/crds/backups.yaml
  charts/velero/crds/backupstoragelocations.yaml
  charts/velero/crds/deletebackuprequests.yaml
  charts/velero/crds/downloadrequests.yaml
  charts/velero/crds/podvolumebackups.yaml
  charts/velero/crds/podvolumerestores.yaml
  charts/velero/crds/resticrepositories.yaml
  charts/velero/crds/restores.yaml
  charts/velero/crds/schedules.yaml
  charts/velero/crds/serverstatusrequests.yaml
  charts/velero/crds/volumesnapshotlocations.yaml
  charts/velero/templates/_helpers.tpl
  charts/velero/templates/backupstoragelocation.yaml
  charts/velero/templates/crds.yaml
  charts/velero/templates/schedule.yaml
  charts/velero/templates/volumesnapshotlocation.yaml
  charts/velero/values.yaml
Labels: velero

#179 [velero] creds env from secret
  charts/velero/Chart.yaml
  charts/velero/templates/deployment.yaml
  charts/velero/templates/restic-daemonset.yaml
  charts/velero/values.yaml
Labels: enhancement, velero

#184 [velero] Add option in values.yaml to customize secret name
  charts/velero/Chart.yaml
  charts/velero/templates/_helpers.tpl
  charts/velero/templates/secret.yaml
  charts/velero/values.yaml
Labels: enhancement, velero
