Repository vmware-tanzu/helm-charts, pull requests merged in 2021-04, with the labels that each got.

#239 [velero] Add labels to service account
  charts/velero/Chart.yaml
  charts/velero/templates/serviceaccount-server.yaml
  charts/velero/values.yaml
Labels: enhancement, velero

#245 [velero] Bump Velero version to v1.6.0 and plugin version to v1.2.0
  charts/velero/Chart.yaml
  charts/velero/README.md
  charts/velero/values.yaml
Labels: velero

#244 [velero] deployment.yaml: add --disable-controllers argument
  charts/velero/Chart.yaml
  charts/velero/templates/deployment.yaml
  charts/velero/values.yaml
Labels: enhancement, velero

#232 [velero] Sets default resource requests and limits
  charts/velero/Chart.yaml
  charts/velero/values.yaml
Labels: bug, velero

#229 [velero] Fix Azure plugin VSL configuration
  charts/velero/Chart.yaml
  charts/velero/templates/volumesnapshotlocation.yaml
  charts/velero/values.yaml
Labels: bug, velero

#243 [velero] Fix "s3ForcePathStyle" entry gets duplicated with AWS plugin
  charts/velero/Chart.yaml
  charts/velero/templates/backupstoragelocation.yaml
Labels: enhancement, velero

#246 [velero] Fix `helm upgrade` does not upgrade the CRDs
  charts/velero/Chart.yaml
  charts/velero/README.md
  charts/velero/crds/backups.yaml
  charts/velero/crds/backupstoragelocations.yaml
  charts/velero/crds/deletebackuprequests.yaml
  charts/velero/crds/downloadrequests.yaml
  charts/velero/crds/podvolumebackups.yaml
  charts/velero/crds/podvolumerestores.yaml
  charts/velero/crds/resticrepositories.yaml
  charts/velero/crds/restores.yaml
  charts/velero/crds/schedules.yaml
  charts/velero/crds/serverstatusrequests.yaml
  charts/velero/crds/volumesnapshotlocations.yaml
  charts/velero/templates/backupstoragelocation.yaml
  charts/velero/templates/cleanup-crds.yaml
  charts/velero/templates/schedule.yaml
  charts/velero/templates/upgrade-crds.yaml
  charts/velero/templates/volumesnapshotlocation.yaml
  charts/velero/values.yaml
Labels: bug, velero

#258 [velero] Configure default BackupStorageLocation (BSL)
  charts/velero/Chart.yaml
  charts/velero/ci/test-values.yaml
  charts/velero/templates/backupstoragelocation.yaml
  charts/velero/values.yaml
Labels: enhancement, velero
